{% extends "layout.html" %}
{% set title = "FeCEAP 2021" %}

{% block content %}
    <section id="intro">

        <header>
            <a href="/">
                <img id="logo" src="FeCEAP-logoAlef2.svg" alt="FeCEAP-logo">

            </a>
        </header>

        <main>
            <p>
                Esse ano, nossa tradicional Feira de Ciências não será da forma tradicional...
            </p>

            <p>
                Vamos prestigiar os projetos de nossos alunos nas áreas de 
                <strong>Ciências, Engenharia, Administração e Criatividade </strong>
                de maneira digital, acompanhando por esse site especialmente produzido para tal!
            </p>

            <p>
                Comece clicando em ver projetos para ver os trabalhos cadastrados e contribua
                adicionando o seu projeto
            </p>
        </main>

        <section id="buttons">
            <button onclick="onOff()">+ Adicionar Projeto</button>
            <a class="button" href="/projetos">Ver Projetos</a>
        </section>

        <footer>
            Com ❤️ <a href="https://ceappedreira.org.br/" target="_blank">CEAP</a>
        </footer>

    </section>

    <section id="last-projects">
        {% for projeto in rows %}
            <div class="project">
                <img
                src="{{ projeto.img }}" 
                alt="freefire-icon">
            
                <div class="content">
                    <h3>{{ projeto.title }}</h3>
                    <p>{{ projeto.category }}</p>

                    <div class="description">
                        {{ projeto.description }}
                    </div>
                    <a href="{{ projeto.url }}">Ir para o projeto</a>
                </div>
            </div>
        {% endfor %}  
        
    </section>
{% endblock %}