<!-- MODAL -->
<div id="modal" class="hide">
    <div class="content">
        <h1>Novo Projeto</h1>

        <form action="/"  method="POST">
            
            <div class="input-wrapper">
                <label for="title">Título do Projeto</label>
                <input type="text" name="title">
            </div>

            <div class="input-wrapper">
                <label for="category">Categoria</label>
                <input type="text" name="category">
            </div>

            <div class="input-wrapper">
                <label for="img">Link da Imagem</label>
                <input type="url" name="img">
            </div>

            <div class="input-wrapper">
                <label for="description">Descriçao do Projeto</label>
                <textarea name="description" cols="30" rows="10"></textarea>
            </div>

            <div class="input-wrapper">
                <label for="url">Link do Projeto</label>
                <input type="url" name="url"> a</input>
            </div>

            <a href="#" onclick="onOff()">Voltar</a>
            <button class="button">Salvar</button>


        </form>
    </div>
</div>