<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@400;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>


<body id="{{ bodyId }}">
    <div id="container">

        {% block content %}  
 

        <div id="modal" >
            <div class="content">
                <h1>Editar Projeto</h1>
        
                <form action="/view/user"  method="post">
                    
                    <div class="input-wrapper">
                        <label for="title">Título do Projeto</label>
                        <input type="text" name="title" value="{{ name }}">
                    </div>
        
                    <div class="input-wrapper">
                        <label for="category">Categoria</label>
                        <input type="text" name="category" value="{{ category }}">
                    </div>
        
                    <div class="input-wrapper">
                        <label for="img">Link da Imagem</label>
                        <input type="url" name="img" value="{{ img }}">
                    </div>
        
                    <div class="input-wrapper">
                        <label for="description">Descriçao do Projeto</label>
                        <textarea name="description" cols="30" rows="10">{{description}}</textarea>
                    </div>
        
                    <div class="input-wrapper">
                        <label for="url">Link do Projeto</label>
                        <input type="url" name="url" value="{{ url }}"  >
                    </div>
        
                    <button class="button" onclick="ativo()">Excluir</button>
                    <button class="button">Salvar</button>
        
        
                </form>
            </div>
        </div>
        
        
        
        {% endblock %}
    
    </div>
    
    <script src="server.js"></script>

</body>
</html>
